*.js
*.js.map
index.js.map
definition-ts/
node_modules/
hb_version
!builder.js
!trigger-rundeck.js
!test.webpack.js
npm-debug.log
target/
istanbul/
.vscode
**/static/hornet-themes-intranet/
vendor-manifest.json
**/static/js/
**/static/html
karma_html/
test_report/
*.sqlite
*.d.ts
**/log/