[Service]
WorkingDirectory=#{NODE_LIB_DIR}/#{INSTANCE_NAME}
ExecStartPre=/bin/echo "Demarrage de l'application #{INSTANCE_NAME}"
ExecStartPre=/bin/bash -c "/bin/tar -zcf #{NODE_LOG_DIR}-#{INSTANCE}/#{INSTANCE_NAME}/log-gc-#{INSTANCE}-$$(date +%%Y-%%m-%%d_%%H%%M%%S).tar.gz -C #{NODE_LOG_DIR}-#{INSTANCE}/#{INSTANCE_NAME} log-gc-#{INSTANCE}.log --remove-files --ignore-failed-read"
ExecStart=/bin/bash -c "#{NODE_BIN_DIR}/node --harmony --stack-size=#{NODE_STACK_SIZE} --trace_gc --trace_gc_verbose index.js > #{NODE_LOG_DIR}-#{INSTANCE}/#{INSTANCE_NAME}/log-gc-#{INSTANCE}.log 2>&1"
ExecStopPost=/bin/echo "Arret de l'application #{INSTANCE_NAME}"
Restart=no
StandardOutput=inherit
StandardError=inherit
SyslogIdentifier=#{INSTANCE_NAME}
User=nodejs
Group=nodejs
EnvironmentFile=#{NODE_CONF_DIR}/#{INSTANCE_NAME}/environnement
Environment='NODE_APP_INSTANCE=#{INSTANCE}'
 
[Install]
WantedBy=multi-user.target 
